.mud-table-head .mud-table-row {
    background-color: #92afef94;
}
.ow-2 .mud-table-row {
    background-color: #dbf5e8 !IMPORTANT;
}
.ow-1 .mud-table-body .mud-table-row {
    background-color: blanchedalmond;
}
